%h2.page-header New problem
= simple_form_for @problem do |f|
  = f.input :name, required: true, input_html: { class: 'form-control' }
  = f.input :time_limit, as: :integer, input_html: { class: 'form-control' }
  = f.input :memory_limit, as: :integer, input_html: { class: 'form-control' }
  = f.input :description, as: :ckeditor
  = f.input :input_format, as: :ckeditor
  = f.input :output_format, as: :ckeditor
  = f.input :sample_input, input_html: { class: 'form-control' }
  = f.input :sample_output, input_html: { class: 'form-control' }
  = f.input :hint, as: :ckeditor
  %br
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-default'
